.cell {
    height: 18vh;
    padding: 1%;
    border-radius: 4%;
    border: 2px solid rebeccapurple;
}

.central {
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .cell {
        font-size: 2.8vw;
    }
}